:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #1c1c1c;
    --bg-secondary: #282828;
    --error: #e04d4d;
    --success: #49b852;
    --warning: #e6e951;
    --transition-speed: 600ms;
  }