
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .navbar-sub-nav {
    position: static;
    flex-direction: column;
    display: none;
  }
  
  .nav-item {
    width: 100%;
    cursor: pointer;
  }
  
  .navbar-sub-item{
    line-height: 5rem;
    border-bottom: none;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
    user-select: none;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    position: inherit;
    background-color: var(--bg-secondary);
    transition: height 600ms ease;
    overflow: scroll;
  }
  
  .topbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .top-item {
    cursor: pointer;
  }

  .top-item-last {
    margin-right: auto;
    display: none;
  }
  
  .top-link {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .top-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .top-link-text {
    margin-right: 1.5rem;
    user-select: none;
  }
  
  .top-link svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }
  
  .topbar::-webkit-scrollbar {
    display: none;
  }

  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-sub-nav{
      position: static;
      display: none;
      list-style: none;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    .topbar {
      height: 3rem;
    }
  
    .top-link{
      height: 3rem;
    }
  
    .top-link svg{
      width: 1rem;
      min-width: 1rem;
    }

    .top-item-last {
      margin-right: auto;
      display: block;
    }
    
    .top-item-last svg {
      transform: rotate(-180deg);
      margin-right: 0.5rem;
    }
  }  
  
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  