/* body{
	font-family:verdana;
}
 
.container{
	width:320px;
	margin:0 auto;
	margin-top:100px;
	padding:10px;
	border-radius:4px;
	-webkit-box-shadow: -1px 0px 21px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 21px -8px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 21px -8px rgba(0,0,0,0.75);
}
 
.heading{
	font-size:26px;
	line-height:28px;
	margin:0px 0px 15px 0px;
	color: #4387fd;
 
}
 
label{
	font-size:14px;
	margin:10px 0px 3px 0px;	
	display:block;
	font-weight:600;
}
 
.form-cont input[type=text], .form-cont input[type=password]{
	display:block;
	height:30px;
	width:300px;
	margin-bottom:8px;
	border:1px solid #eeeeee;
	border-radius:2px;
	padding-left:2px;
}
 
.form-cont input[type=submit]{
	background:#4387fd;
	color:#ffffff;
	border:1px solid #4387fd;
	height:30px;
}
 
.form-cont input[type=submit]:hover{
	box-shadow:0 1px 0 rgba(0,0,0,0.30);
}
 
.disable-btn{
	background:red !important;
	color:#ffffff !important;
	border:1px solid red !important;
	height:30px !important;	
}
 
.success_msg{
	font-size:14px;
	background:#34d58e;
	border:1px solid #34d58e;
	font-size:12px;
	margin:5px 0 5px 0;
	padding:3px;
	color:#ffffff;
}
 
.error_msg{
	background:#EE5A5B;
	border:1px solid #ee0000;
	font-size:12px;
	margin:5px 0 5px 0;
	padding:3px;
	color:#ffffff;
} */
.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}