@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

@import url("variables.css");
@import url("components/variables.css");
@import url("components/avatar.css");
@import url("components/alert.css");
@import url("components/navigation.css");
@import url("components/button0.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/color.css");
@import url("components/text.css");
@import url("components/grid.css");
@import url("components/flex.css");
@import url("components/badge.css");
@import url("components/search.css");
@import url("components/scale.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/form.css");
@import url("components/progress.css");


body {
  color: #fff;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

a {
  color: #00bc8c;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #007053;
  text-decoration: none;
  background-color: transparent;
}

main {
  position: relative;
  margin-left: 7rem;
  margin-right: 2rem;
  padding: 1rem;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1rem;
}

h4, .h4 {
  font-size: 1.40625rem;
}

h5, .h5 {
  font-size: 1.171875rem;
}

h6, .h6 {
  font-size: 0.9375rem;
}

table{
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd){
  background: #444;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

td {
  padding: 1rem;
}

select {
  cursor: pointer;
}

option {
  background-color: #222;
  color: #fff;
}

textarea {
  overflow: auto;
  resize: none;
}

footer {
  position: relative;
  bottom: 0pt;
}

.cal-button {
  padding: 1rem;
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  main {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  footer {
    margin-bottom: 6rem;
  }
  table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
    position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
  }
  
  td:before { content: attr(data-label); }
}

/* Large screens */
@media only screen and (min-width: 700px) {
  footer {
    margin-left: 7rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
}
