.btn-primary{
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0.4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #1c1c1c;
    transition: 0.1s;
}

.btn-secondary:hover{
    opacity: 0.8;
}

.btn-secondary:active{
    border: none;
    position:relative;
	top:1px;
    opacity: 1;
}

.btn-secondary{
    border-radius: 4px;
    border: none;
    color: black;
    padding: 10px 15px;
    margin: 0.4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #b6b6b6;
    transition: 0.1s;
}

.btn-primary:hover{
    opacity: 0.8;
}

.btn-primary:active{
    border: none;
    position:relative;
	top:1px;
    opacity: 1;
}

.btn-medium{
    border: 1px solid #aaaaaa;
    border-radius: 50px;
    color: #aaaaaa;
    padding: 10px 15px;
    margin: 0.4rem;
    font-weight: lighter;
    font-style: none;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.1s;
}

.btn-medium:hover{
    opacity: 0.8;
}

.btn-medium:active{
    position:relative;
	top:1px;
    opacity: 1;
}

