.tab {
    overflow: hidden;
    border: 1px solid #555;
    background-color: #555;
    color: #fff;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #fff;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #666;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #444;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #555;
    border-top: none;
    color: #fff;
  }

  .tabcontent .form-group {
    width: 95%;
  }